body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}

:root {
    --blue-color: #2196F3;
    --color-black: #212121;
    --color-grey: #757575;
    --color-white: #FFFFFF;
    --color-turkey: #2F303A;
    --color-light-grey: #F5F4FA;
    --color-fondo-2-: #2F303A;
}
/* normalizador */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
}
h2{
    font-size: 4rem;
} 
.link{
    text-decoration: none;
    color: inherit;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 1200px;
    justify-content: center;
}

.relative{
    position: relative;
}

/* header */

.border{
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo{
    font-family: 'Raleway';
    color: var(--blue-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;

}

.header__menu{
   display: flex;
   gap: 30px;
   line-height: 1.1;
   align-items: center;
}

.header__list{
    display: flex;
    line-height: 1.1;
    gap: 30px;
    
}

.header__list--item{
    color: var(--color-black);  
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    gap: 30px;
    transition: .2s ease-in; 
}

.header__list--item:hover {

    color: var(--blue-color); 
    cursor: pointer; 
}

.estudio{
    color: var(--blue-color);
}

.portafolio{
    color: var(--blue-color);
    height: 100%;
}

.nav-line::before{
    content: '';
    height: 4px;
    width: 66px;
    top: 77px;
    border-radius: 2px;
    background: var(--blue-color);
    display: flex;
    position: absolute;
}   

.header__contacts{
   display: flex;
   line-height: 1.1;
   gap: 30px;
   margin-right: 100px; 
}



.header__contacts--contact{
    color: var(--color-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: .2s ease-in; 
}

.header__contacts--contact:hover{
    text-decoration: none;
    color: var(--blue-color);
}

.header__contacts--contact:hover + .mail-log {
    text-decoration: none;
    fill: var(--blue-color);
}


.header__contacts--contact:hover + .tel-log {
    text-decoration: none;
    fill: var(--blue-color);
}

.mail-log{
    display: inline-block;
    width: 16px;
    height: 12px;
    fill: var(--color-grey);
    position: absolute;
    right: 140px;
    top: 6px;
    transition: .2s ease-in; 
}


.tel-log{
    display: inline-block;
    width: 10px;
    height: 16px;
    fill: var(--color-grey);
    position: absolute;
    right: 117px;
    transition: .2s ease-in; 
}



/* hero */
.backgraund-turkey{
    background-color: rgba(47, 48, 58, 0.9); ;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.backgraund-turkey{
    background-image: url(../images/Imagen\ \(2\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tittle{
    color: var(--color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    font-style: normal;
    width: 696px;
    height: 120px;
    text-align: center;
}

.pricipal-button{
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    width: 261px;
    height: 50px;
    margin-top: 30px;
    line-height: 30px;
    background-color: var(--blue-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in; 
}

.pricipal-button:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

/* dedication*/
.det-section{
    display: flex;
    justify-content: center;
}

.det-section__details{
    display: flex;
    flex-direction: row;
    width: 1170px;
    height: auto;
    gap: 30px;
    margin-top: 95px;

}

.det-section__icon{
    width: 70px;
    height: 70px;
}

.det-section__icon-content{
    display: flex;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.det-section__tittle{
    color: var(--color-black);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 270px;
    margin-bottom: 10px;
}

.det-section__paragraph{
    color: var(--color-grey);
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
/* dedication */

.dedication{
    display: flex;
    margin-top: 94px;
    flex-direction: column;
    height: 425px;
    margin-bottom: 94px;
    align-items: center;
}

.dedication__cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.dedication__tittles{
    color: var(--color-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 59px;
    align-items: center;
    justify-content: center;
}

.dedication__img1{
    background-image: url(../images/imagen1.jpg);
    width: 373px;
    height: 323px;
    display: flex;
    align-items: flex-end;
}

.dedication__img2{
    background-image: url(../images/imagen2.jpg);
    width: 373px;
    height: 323px;
    display: flex;
    align-items: flex-end;
}

.dedication__img3{
    background-image: url(../images/imagen3.jpg);
    width: 373px;
    height: 323px;
    display: flex;
    align-items: flex-end;
}

.dedication__def{
    color: var(--color-white);
    width: 373px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8); ;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* workers */
.workers{
    background-color: var(--color-light-grey);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-left: 70px;
}

.workers__list{
    display: flex;
    width: 1177px;
    flex-direction: row;
    gap: 37px;
    padding-left: 0;
}

.workers__card{
    background-color: var(--color-white);
    width: 270px;
    height: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in ; 

}

.workers__card:hover{
    transform: scale(1.01);
    -webkit-box-shadow: 4px 6px 13px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 4px 6px 13px 0px rgba(0,0,0,0.21);
    box-shadow: 4px 6px 13px 0px rgba(0,0,0,0.21);
    cursor: pointer;
}

.workers__card--name{
    color: var(--color-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-top: 30px;
}

.definition{
    color: var(--color-grey);
    font-size: 16px;
    line-height: 19px;
}

.workers__card--div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-left: 50px;
    padding-bottom: 20px;   
    padding-top: 20px;
}

.workers__card--redes{
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in; 
}

.workers__card--redes:hover{
    background-color: var(--blue-color);
    cursor: pointer;
}

.workers__card--icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: .2s ease-in; 
}

.workers__card--icon:hover {
   fill: var(--color-white);
}   
/* clients */
.clientes{
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.clientes__content{
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.clientes__div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
}

.clientes__list{
    width: 170px;
    height: 81px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 7px;
    transition: .2s ease-in; 
}

.clientes__list:hover{
    border: 1px solid var(--blue-color);
    border-radius: 7px; 
    fill: var(--blue-color);
    cursor: pointer;
}


.clientes__list--icon{
    width: 106px;
    height: 52.83px;
    fill: #AFB1B8; 
    transition: .2s ease-in; 
}

.clientes__list--icon:hover{
    fill: var(--blue-color);
}

/* footer */

.backgraund-turkey-footer{
    background-color: var(--color-turkey) ;
    height: 252px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer{
    width: 1200px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.footer__logo{
    font-family: 'Raleway';
    color: var(--blue-color);
    font-weight: 700;
    font-size: 26px;
    width: 145px;
    margin-left: 35px;
    margin-top: 60px;
}



.footer__info--location{
    color: var(--color-white);
    font-size: 14px;    
    width: 231px;
}

.footer__info--contact{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.footer__redes{
    color: var(--color-white);
}

.footer__icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__icon{
    width: 44px;
    height: 44px;
    background-color: #434345;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in; 
}

.footer__icon:hover {
    background-color: var(--blue-color);
    cursor: pointer;
}

.footer__icon--element{
    fill: var(--color-white);
    width: 20px;
    height: 20px;
}

.footer-suscribe{
    position: relative;
}

.footer-suscribe__input{
    position: absolute;
    top: -15px;
    right: 250px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--color-fondo-2-);
    color: var(--color-white);
}

.footer-suscribe__input:focus-visible{
    outline: none;
    border-color: var(--blue-color) ;
}

.footer-suscribe__label{
    width: 300px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -45px;
    right: 310px;
    color: var(--color-white);

}

.footer-suscribe__icon{
    z-index: 3;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 40px;
    left: 540px;
}

.footer-suscribe__button{
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    height: 50px;
    line-height: 30px;
    background-color: var(--blue-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: -290px;
}




/* portafolio */


.portafolio{
    display: flex;
    height: 1360px;
    flex-direction: column;
    align-items: center;
    margin-top: 94px;
    margin-bottom: 82px;
}

.portafolio__buttons{
    display: flex;
    gap: 8px;
    margin-bottom: 35px;
    justify-content: center;

}

.portafolio__buttons--element {
    color: var(--color-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 103px;
    height: 38px;
    background-color: var(--color-light-grey);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: .2s ease-in; 
}

.portafolio__buttons :hover{
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 103px;
    height: 38px;
    background-color: var(--blue-color);
    cursor: pointer;
}

.portafolio__card{
    width: 370px;
    height: 407.56px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in ; 
}

.portafolio__card:hover{
    transform: scale(1.01);
    -webkit-box-shadow: 4px 6px 13px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 4px 6px 13px 0px rgba(0,0,0,0.21);
    box-shadow: 4px 6px 13px 0px rgba(0,0,0,0.21);
    cursor: pointer;
}

.portafolio__card--img{
    width: 370px;
    height: 294px;
    position: relative;
    overflow: hidden;
}

.portafolio__card--paragraph-div{
    width: 100%;
    height: 0;
    background: rgba(33, 150, 243, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.portafolio__card--paragraph{
    width: 322px;
    height: 168px;
    color: #FFFFFF; 
    font-size: 18px;
    line-height: 28px; 
    transition: .2s ease-in; 
}

.portafolio__card--img:hover .portafolio__card--paragraph-div{
    height: 100%;
    cursor: pointer;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    justify-content: center;
}

.portafolio__card--product{
    color: var(--color-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-top: 20px;
    margin-left: 24px;
}

.portafolio__card--definition{
    color: var(--color-grey);
    font-size: 16px;
    line-height: 19px;
    margin-left: 24px;
}

/* modal*/
.backdrop .is-hidden .modal{
    transform: translate(-50%,-50%) scale(0.8);
}
.is-hidden{
    display: none;
}
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 581px;
    background-color: #ffffff;
    transform: translate(-50%,-50%) scale(1);
    
}

.modal__close-button{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1%;
    right: 1%;  
    border-radius: 50%;
    border-color: var(--color-light-grey);
    background-color: var(--color-white);
    cursor: pointer;
    
}

.modal__close-button:hover{
    color: var(--blue-color);
    
}

.modal__tittle{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    position: relative;
    top: 40px;
    left: 40px;
    
}

.modal__form{
    position: relative;
    top: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}


.modal__input-content--value{
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 30px;
    font-size: 14px;
    
}


.modal__input-content--value:focus-visible{
    outline: none;
   border-color: var(--blue-color);
}

.modal__input-content--icon{
    width: 18px;
    height: 18px;
    left: 10px;
    position: absolute;
    fill: var(--color-black);
    top:12px;
}

.modal__input-content--value:focus-visible + .modal__input-content--icon{
    fill: var(--blue-color);
}

.modal__input-content--name{
    color: var(--color-grey);
    font-size: 12px;
    position: absolute;
    top: -18px;
    left: 0;
}

.modal__input-content--tel{
    color: var(--color-grey);
    font-size: 12px;
    position: absolute;
    top: -15px;
    left: 0;
}

.modal__input-content--mail{
    color: var(--color-grey);
    font-size: 12px;
    position: absolute;
    top: -15px;
    left: 0;
}

.modal__input-comment{
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 5px;
    font-size: 14px;
}

.modal__input-comment:focus-visible{
    outline: none;
    border-color: var(--blue-color);
}

.modal__input-comment::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}

.modal__label-comment{
    color: var(--color-grey);
    font-size: 12px;
    position: absolute;
    top: 177px;
    left: 5%;
}

.modal__input-checkbox{
    position: absolute;
    top: 330px;
    left: 6%;
}

.modal__label-checkbox{
    color: var(--color-grey);
    font-size: 12px;
    position: absolute;
    top: 330px;
    left: 10%; 
    font-size: 14px;
}

.Modal__button{
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    line-height: 30px;
    background-color: var(--blue-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 0px;
}

