body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}

:root {
    --blue-color: #2196F3;
    --color-black: #212121;
    --color-grey: #757575;
    --color-white: #FFFFFF;
    --color-turkey: #2F303A;
    --color-light-grey: #F5F4FA;
    --color-fondo-2-: #2F303A;
}
/* normalizador */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
}
h2{
    font-size: 4rem;
} 
.link{
    text-decoration: none;
    color: inherit;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 1200px;
    justify-content: center;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-border{
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: center;
}

.logo{
    font-family: 'Raleway';
    color: var(--blue-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;

}

.header-menu{
   display: flex;
   gap: 30px;
   line-height: 1.1;
   align-items: center;
}

.header-list{
    display: flex;
    line-height: 1.1;
    gap: 30px;
    
}

.header-item{
    color: var(--color-black);  
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    gap: 30px;
}

.header-item:hover {

    color: var(--blue-color); 
    cursor: pointer; 
}

.header-contacts{
   display: flex;
   line-height: 1.1;
   gap: 30px;
   margin-right: 100px; 
}

.tel-log{
    display: inline-block;
    width: 10px;
    height: 16px;
    fill: var(--color-grey);
}

.tel-log:hover{
    text-decoration: none;
    fill: var(--blue-color);
    cursor: pointer;
}

.mail-log{
    display: inline-block;
    width: 16px;
    height: 12px;
    fill: var(--color-grey);

}

.mail-log:hover{
    text-decoration: none;
    fill: var(--blue-color);
    cursor: pointer;
}


.contact{
    color: var(--color-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.contact:hover{
    text-decoration: none;
    color: var(--blue-color);
}



/* hero */
.backgraund-turkey{
    background-color: rgba(47, 48, 58, 0.9); ;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.backgraund-turkey{
    background-image: url(../images/Imagen\ \(2\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.tittle{
    color: var(--color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    font-style: normal;
    width: 696px;
    height: 120px;
    text-align: center;
}

.pricipal-button{
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    width: 261px;
    height: 50px;
    margin-top: 30px;
    line-height: 30px;
    background-color: var(--blue-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.details-section{
    display: flex;
    justify-content: center;
}

.icon-details{
    width: 70px;
    height: 70px;
}

.icon-details-contenedor{
    display: flex;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.details{
    display: flex;
    flex-direction: row;
    width: 1170px;
    height: auto;
    gap: 30px;
    margin-top: 95px;

}
.details-tittle{
    color: var(--color-black);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 270px;
    margin-bottom: 10px;
}

.paragraph{
    color: var(--color-grey);
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

.dedication{
    display: flex;
    margin-top: 94px;
    flex-direction: column;
    height: 425px;
    margin-bottom: 94px;
    align-items: center;
}

.subtittles{
    color: var(--color-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 59px;
    align-items: center;
    justify-content: center;
}

.dedication-images{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.img-dedication-1{
    background-image: url(../images/imagen1.jpg);
    width: 373px;
    height: 323px;
    display: flex;
    align-items: flex-end;
}

.dedication-1{
    color: var(--color-white);
    width: 373px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8); ;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
}

.img-dedication-2{
    background-image: url(../images/imagen2.jpg);
    width: 373px;
    height: 323px;
    display: flex;
    align-items: flex-end;
}

.dedication-2{
    color: var(--color-white);
    width: 373px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8); ;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
}

.img-dedication-3{
    background-image: url(../images/imagen3.jpg);
    width: 373px;
    height: 323px;
    display: flex;
    align-items: flex-end;
}

.dedication-3{
    color: var(--color-white);
    width: 373px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8); ;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
}


.workers-section{
    background-color: var(--color-light-grey);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-left: 70px;
}

.workers{
    display: flex;
    width: 1177px;
    flex-direction: row;
    gap: 37px;
    padding-left: 0;
}

.worker{
    background-color: var(--color-white);
    width: 270px;
    height: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

}
.worker-name{
    color: var(--color-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-top: 30px;
}

.definition{
    color: var(--color-grey);
    font-size: 16px;
    line-height: 19px;
}

.div-workers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-left: 50px;
    padding-bottom: 20px;   
    padding-top: 20px;
}

.worker-redes{
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worker-redes:hover{
    background-color: var(--blue-color);
    cursor: pointer;
}

.icon-redes {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.icon-redes:hover {
   fill: var(--color-white);
}   

.clientes-section{
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.contenedor-clientes{
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.clients-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
}

.li-clients{
    width: 170px;
    height: 81px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 7px;
}

.li-clients:hover{
    border: 1px solid var(--blue-color);
    border-radius: 7px; 
    fill: var(--blue-color);
    cursor: pointer;
}


.icon-clients{
    width: 106px;
    height: 52.83px;
    fill: #AFB1B8; 
}

.icon-clients:hover{
    fill: var(--blue-color);
}



/* footer */

.backgraund-turkey-footer{
    background-color: var(--color-turkey) ;
    height: 252px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-footer{
    font-family: 'Raleway';
    color: var(--blue-color);
    font-weight: 700;
    font-size: 26px;
    width: 145px;
    margin-left: 35px;
    margin-top: 60px;
}

.contenedor-footer{
    width: 1200px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.location{
    color: var(--color-white);
    font-size: 14px;    
    width: 231px;
}

.footer-contact{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.redes{
    color: var(--color-white);
}

.footer-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-icon{
    width: 44px;
    height: 44px;
    background-color: #434345;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon:hover {
    background-color: var(--blue-color);
    cursor: pointer;
}

.icon{
    fill: var(--color-white);
    width: 20px;
    height: 20px;
}


/* portafolio */


.services-portafolio{
    display: flex;
    height: 1360px;
    flex-direction: column;
    align-items: center;
    margin-top: 94px;
    margin-bottom: 82px;
}

.buttons{
    display: flex;
    gap: 8px;
    margin-bottom: 35px;
    justify-content: center;

}

.button{
    color: var(--color-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 103px;
    height: 38px;
    background-color: var(--color-light-grey);
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.button:hover{
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 103px;
    height: 38px;
    background-color: var(--blue-color);
    cursor: pointer;
}

.etiqueta{
    width: 370px;
    height: 407.56px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    justify-content: center;
}

.product{
    color: var(--color-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-top: 20px;
    margin-left: 24px;
}

.definition-p{
    color: var(--color-grey);
    font-size: 16px;
    line-height: 19px;
    margin-left: 24px;
}