.det-section{
    display: flex;
    justify-content: center;

    .det-section__details{
        display: flex;
        flex-direction: row;
        width: 1170px;
        height: auto;
        gap: 30px;
        margin-top: 95px;

        .det-section__icon-content{
            display: flex;
            width: 270px;
            height: 120px;
            background: #F5F4FA;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            .det-section__icon{
                width: 70px;
                height: 70px;
            }
            
        }

        .det-section__tittle{
            color: $color-black;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            width: 270px;
            margin-bottom: 10px;
        }
        
        .det-section__paragraph{
            color: $color-grey;
            font-size: 14px;
            line-height: 24px;
            text-align: left;
        }
    
    }
}

@media (min-width: 767px) and (max-width: 1199px){


.det-section .det-section__details .det-section__icon-content {
    width: 100%;
        
}
    
.det-section .det-section__details {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 59px;
    padding: 15px;
}

.det-section__li{
    width: 354px;
}
 }


 

 @media(max-width: 481px) {
    .contenedor{
        width: 100%;
    }

    .det-section .det-section__details {
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }
    .det-section__li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .det-section .det-section__details .det-section__icon-content {
        width: 95%;  
    }

  

    .det-section .det-section__details .det-section__tittle {
        justify-content: center;
        display: flex;
   
    }

    
    .det-section .det-section__details .det-section__paragraph {
    width: 95%;   
    }      
        }




